html, body, article{
    height: 100%;
}

header{
    height: 5%;
}

.container-fluid {
    height: 100%;
}

.file-manager-header {
    background-color: lightgray;
    border-radius: 5px;
    padding: 5px;
}

.file-manager-nav {
    background-color: gray;
    border-radius: 5px;
    width: 20%;
    margin-top: 5px;
    padding: 5px;
}

.file-manager-nav-title {
    background-color: cornflowerblue;
    color: white;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
    padding: 5px;
}

.file-manager-nav-title > span.file-manager-nav-title-label {
    color: black;
    font-weight: bold;
}

.file-manager-nav-body {
    background-color: cornflowerblue;
    color: white;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
}

.file-manager-nav-button {
    width: 100%;
}

.file-manager-body {
    background-color: lightgray;
    border-radius: 5px;
    margin-left: 20%;
    width: 79%;
    height: 100%;
    margin-top: 5px;
    padding: 5px;
}